<div class="content">
  <div class="container-fluid">

    <div class="row targetBtn">
      <div class="col-md-12">
        <h3 class="pull-left"> کمپین ها </h3>
        <a href="http://amins-macbook-pro.local:5757/sabetmikonimv2/campaign/campaign.php?mode=newCampaign" class="btn btn-fill pull-right"> <i class="pe-7s-plus"></i> کمپین جدید </a>
      </div>
    </div>



    <div id="campaignsDataBody">


    <!-- <div class="col-xs-12 col-md-6 campaignGrid">

      <div class="campaignCard">

        <div class="campaignMenu">

          <a href="javascript:;"> <i class="fas fa-ellipsis-h"></i> </a>

          <ul class="uiList subMenu">
            <li> <a href="javascript:;"> ویرایش </a> </li>
            <li> <a href="javascript:;"> کپی </a> </li>
            <li> <a href="javascript:;"> حذف </a> </li>
          </ul>

        </div>

        <div class="campaignTitle">

          <div class="campaignSubTypePic">

            <img src="http://amins-macbook-pro.local:5757/sabetmikonimv2/assets/img/campaignType/gravityforms_logo_outline.jpg" alt="فرم‌های اختصاصی">

          </div>

          <div class="campaignTitleContent">

            <div class="campaignTool">

              <span> کمپین اینستاگرامی | دسته: شبکه‌های اجتماعی </span>

            </div>

            <h4> کمپین خندون </h4>

          </div>

        </div>


        <div class="campaignContent">

            <div class="campaignCat pullRight"> <span> آخرین ویرایش: ۲ ساعت پیش </span> </div>

            <div class="campaignStatus pullLeft active"> <span> فعال </span> </div>

            <div class="clear"></div>

        </div>


        <a href="javascript:;" data-cid="'+ campaignsData[i]['cId'] +'" name="modalLink" onclick="openCampaignModal('+ j +')" class="more">'+ campaignsData[i]['name'] +' </a>

      </div>

    </div> -->


    <div class="clear"></div>


  </div>

  </div>

  <div class="mask"></div>

</div>
