<div class="content">
  <div class="container-fluid">

    <div class="row targetBtn">
      <div class="col-md-12">
        <h3 class="pull-left"> دامنه‌های من </h3>
        <a href="javascript:;" onclick="createViewPanel({contentId : 'add-domain'} , true)" class="btn btn-fill pull-right"> <i class="pe-7s-plus"></i> دامنه جدید </a>
      </div>
    </div>


<div class="row">

  <div class="col-md-12">
    <div class="card card-plain">
      <div class="content table-responsive table-full-width">
        <table class="table table-hover websites-table">
          <thead>
            <th class="center"> نام دامنه </th>
            <th class="center" style="width:250px"> آدرس </th>
            <th class="center" style="width:250px"> وضعیت اتصال به سرویس </th>
          </thead>
          <tbody id="domainsDataBody">

            <!-- <tr style="position: relative" id="cid'+ campaignsData[i]['cid'] +'">
              <td class="table-website-td center">

                '+ campaignsData[i]['name'] +'

                <a href="#'+ campaignsData[i]['cid'] +'" name="modalLink" class="more"> '+ campaignsData[i]['name'] +' </a>
              </td>
              <td class="table-website-td center">

                '+ campaignsData[i]['modifyDate'] +'

                <a href="#'+ campaignsData[i]['cid'] +'" name="modalLink" class="more"> '+ campaignsData[i]['modifyDate'] +' </a>
              </td>
              <td class="center campaignStatus">



                <a href="#'+ campaignsData[i]['cid'] +'" name="modalLink" class="more"> '+ campaignsData[i]['name'] +' </a>
              </td>

            </tr> -->



          </tbody>
        </table>

      </div>
    </div>
  </div>


</div>



</div>
</div>
