<div class="pageBody welcome">

  <h1> به ثابت میکنیم خوش آمدید! </h1>
  <p>

    خیلی از شما ممنونیم که در سرویس ما عضو شدید! قطعا با استفاده از این سرویس، رشد چشمگیری در فروش‌تان تجربه خواهید کرد. </br>
    با زدن دکمه «شروع» به صورت قدم به قدم راهنمایی‌تان میکنیم تا سرویس «ثابت میکنیم» را به سایت‌تان متصل و از آن استفاده نمایید.

  </br>
    با احترام فراوان،
  </br>
    تیم ثابت میکنیم

  </p>

  <a href="javascript:;" onclick="createView({contentId: 'add-domain'},true)" class="btn btn-primary btn-fill btn-lg"> شروع </a>


</div>
