/* sbmProgressBar ANIM */
@keyframes sbmProgressBar-countdown {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
@-webkit-keyframes sbmProgressBar-countdown {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}


/* bottom bounce out */
@-webkit-keyframes bounce-out {
  0% {
    -webkit-transform: translateY(-12px);
  }
  100% {
    -webkit-transform: translateY(330px);
  }
}
@keyframes bounce-out {
  0% {
    transform: translateY(-12px);
  }
  100% {
    -webkit-transform: translateY(330px);
  }
}

@-webkit-keyframes bounce-body {
  0% {
    -webkit-transform: scale(1);
  }

  50% {
    -webkit-transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
  }
}

.bounceBody {
  -webkit-animation-duration: .6s;
  animation-duration: .6s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-name: bounce-body;
  animation-name: bounce-body;
}


a {
  text-decoration: none;
}

a:hover, a:focus {
  text-decoration: none;
}

.disn {
  display: none !important;
}

.sabetmikonimMask {
  position: fixed !important;
  z-index: -99999999;
  background-color: rgba(0, 0, 0, 0.6);
  /* display: none; */
  opacity: 0;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  transition: all .3s;
  -moz-transition: all .3s;
  -webkit-transition: all .3s;
}

.sabetmikonimMask.open {
  /* display: block; */
  z-index: 999999999;
  opacity: 1;
}

.sabetmikonimNotifBody span.sabetMikonim {
    font-family: IRANSans, isans !important;
}

.sabetmikonimNotifBody span.sabetMikonim a {
    font-family: IRANSans, isans !important;
}

.sabetmikonimNotifBody .notifDate {
    font-family: IRANSans, isans !important;
}

.notification {
    font-family: IRANSans, isans !important;
    display: block;
    text-align: right;
    line-height: 25px
}

.sabetmikonimNotifBody .clear {
    clear: both
}

.sabetmikonimNotifBody a.more {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    text-indent: -9999px
}

.sabetmikonimNotifBody .notification .closeBox {
  position: absolute;
  top: -20px;
  right: 0;
  background: #dbdee0;
  color: #999;
  border-radius: 500px;
  padding: 5px 10px;
}

.sabetmikonimNotifBody .notification .closeBox a {
  color: #999;
}

.sabetmikonimNotifBody .notification {
    display: none;
    position: fixed;
    right: 15px;
    width: 350px;
    height: 88px;
    direction: rtl;
    z-index: 99999999999999999999999;
    bottom: 0;
    transform: translateY(250px);
    -webkit-transform: translateY(250px);
    background-color: #FFF;
    border: 1px solid #CCC;
    box-shadow: 10px 20px 40px 0 rgba(36,35,40,.1);
    border-radius: 100px;
    padding: 5px 5px 5px 20px;
    overflow: hidden;
    vertical-align: middle;
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s
}

.openN {
  display: block !important;
  transform: translateY(0) !important;
}

.sabetmikonimNotifBody .notification.rightNotif {
  display: block;
}

.sabetmikonimNotifBody .notification.leftNotif {
  display: block;
  left: 15px !important;
  right: auto !important;
}

.sabetmikonimNotifBody .notification:hover {
  box-shadow: 0 0 0 3px #CCC;
}

/* bottom bounce */
@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(250);
  }
  50% {
    -webkit-transform: translateY(-25px);
  }
  100% {
    -webkit-transform: translateY(-15px);
  }
}
@keyframes bounce {
  0% {
    transform: translateY(250);
  }
  50% {
    transform: translateY(-25px);
  }
  100% {
    transform: translateY(-15px);
  }
}


.notification.notif-bounce {
  -webkit-animation-duration: .4s;
  animation-duration: .4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  /* animation-iteration-count: infinite; */
  /* -webkit-animation-iteration-count: infinite; */
  -webkit-animation-name: bounce;
  animation-name: bounce;
}


.notification.notif-bounce-out {
  -webkit-animation-duration: .3s;
  animation-duration: .3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  /* animation-iteration-count: infinite; */
  /* -webkit-animation-iteration-count: infinite; */
  -webkit-animation-name: bounce-out;
  animation-name: bounce-out;
}



.sabetmikonimNotifBody .notifContentBody {
  display: inline-block;
  /* width: 235px; */
}


.sabetmikonimNotifBody .notifMainBody {
    background-color: #FFF;
    border: 1px solid #CCC;
    border-radius: 100px;
    padding: 2px 2px 2px 20px;
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
}

.notification span.notifDesc, .notification .notifName {
  display: block;
  text-align: right;
  line-height: 25px;
}

.sabetmikonimNotifBody .notifIcon {
    float: right;
    margin-left: 8px;
    display: inline-block;
}

.sabetmikonimNotifBody .notifIcon img {
    width: 78px !important;
    height: 78px !important;
    border-radius: 100%;
}

.sabetmikonimNotifBody .notifName {
    font-weight: 400;
    font-size: 12px;
    color: #000;
    font-weight: 400;
    font-size: 12px;
    color: #000;
    /* background: #e1e7ea; */
    float: right;
    display: block;
    max-width: 229px;
    overflow: hidden;
    border-radius: 5px;
}

.sabetmikonimNotifBody .notifName span#notifName {
  padding-right: 5px;
  /* border-top-right-radius: 5px; */
  /* border-bottom-right-radius: 5px; */
}

  .sabetmikonimNotifBody .notifName span#notifLocation {
  padding-left: 5px;
  /* border-top-left-radius: 5px; */
  /* border-bottom-left-radius: 5px; */
}

.sabetmikonimNotifBody .notifDescContents span {
    color: #738c98;
    font-size: 12px;
    font-weight: 300;
    margin-bottom: 5px;
    /* display: inline-block; */
}

.sabetmikonimNotifBody .notifDescContents .notifMainContent span {
  display: inline-block;
}

.sabetmikonimNotifBody span.notifDesc {
    color: #738c98;
    font-size: 12px;
    font-weight: 300;
    margin-bottom: 5px
}

.sabetmikonimNotifBody span.notifDate {
    color: #738c98;
    font-size: 12px;
    font-weight: 300;
    float: right;
    margin-left: 5px;
}

.sabetmikonimNotifBody span.sabetMikonim {
    /* float: left; */
    text-align: left;
    color: #aabcc5;
    font-size: 12px;
    font-weight: 300;
    line-height: 1;
}

span.icon {
  /* float: right; */
  margin-left: 5px;
  padding-top: 6px;
  display: inline-grid;
  width: 12px;
}

span.icon svg {
    width: 12px
}

.sabetmikonimNotifBody span.sabetMikonim a {
    color: #08c;
    text-decoration: none;
    position: relative;
    z-index: 9999;
}



.closeNotifs {
  top: 10px;
  left: 20px;
  position: absolute;
  z-index: 9999999999;
  width: 15px;
  height: 15px;
  opacity: .5;
  cursor: pointer;
  transition: all .3s;
  -moz-transition: all .3s;
  -o-transition: all .3s;
  -webkit-transition: all .3s;
}

.closeNotifs:hover {
  opacity: 1;
}

.closeNotifs svg {
  width: 13px;
  height: 13px;
}




/* hot streaks */

.hotStreak {
  display: inline-flex;
  line-height: 0;
}

.notification .hotStreak .count {
  position: relative;
  display: inline-block;
  color: #058eee;
  line-height: 2.1;
  padding-right: 5px;
  padding-left: 5px;
  margin-left: 3px;
  margin-left: 10px;
}

.notification .hotStreak .count span {
  font-weight: 400;
  font-size: 13px;
}

.notification .hotStreak .count .counterBg {
  position: absolute;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background-color: rgba(0, 149, 247, 0.1);
}

.notification .hotStreak span.notifDesc {
  font-weight: 400;
  font-size: 13px;
  /* color: #058eee; */
  color: #333;
  display: inline;
}

.hotStreak .hotStreakContent {
  padding-top: 5px;
  padding-bottom: 5px;
}

.notification .hotStreak .notifIcon {
  display: inline-grid;
  align-items: center;
}

.notification .hotStreak .notifIcon svg {
  width: 72px;
}

.notification .hotStreak span.sabetMikonim {
  left: 10px;
}

.hotStreak span.icon {
  padding-top: 5px;
}

/* hot streaks */












/* conversion box style */

 .conversionBox {
  display: none;
  overflow: hidden;
  font-family: IRANSans, isans !important;
  background: #fdfdfd;
  position: fixed;
  right: 15px;
  width: 350px;
  z-index: 99999999999999999999999;
  height: 310px;
  bottom: 0;
  transform: translateY(320px);
  -webkit-transform: translateY(320px);
  border-radius: 15px;
  box-shadow: 0 0 0 2px #CCC;
  text-align: center;
  vertical-align: middle;
  transition: all .3s;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -o-transition: all .3s
}

.conversionBox.leftNotif {
  left: 15px;
  right: auto;
}

.conversionBox .conversionBoxContent {
  /* position: relative; */
  display: grid;
  padding: 20px 15px;
  width: 100%;
}

.conversionBox.openCB {
  display: flex;
  -webkit-animation-duration: .4s;
  animation-duration: .4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  /* animation-iteration-count: infinite; */
  /* -webkit-animation-iteration-count: infinite; */
  -webkit-animation-name: bounce;
  animation-name: bounce;
}

.conversionBox.closeCB {
  -webkit-animation-duration: .4s;
  animation-duration: .4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  /* animation-iteration-count: infinite; */
  /* -webkit-animation-iteration-count: infinite; */
  -webkit-animation-name: bounce-out;
  animation-name: bounce-out;
}

.conversionBox .cbIcon img {
  width: 75px;
  margin: auto;
}

.conversionBox .cbDesc {
  margin: 15px auto;
  width: 100%;
}

.conversionBox .cbDesc p {
  font-size: 18px;
  color: #5e5d6b;
  max-height: 110px;
  overflow: hidden;
}

.conversionBox .ctaBtn a.sbmCTABTN {
  font-size: 16px;
  border-radius: 5px;
  background-color: #377bff;
  color: #FFF;
  padding: 5px 10px;
}

.conversionBox .closeBtn {
  position: absolute;
  top: 20px;
  right: 20px;
}

.conversionBox .closeBtn a svg {
  width: 20px;
  opacity: 0.3;
  transition: all .3s;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -o-transition: all .3s;
}

.conversionBox .closeBtn a:hover svg {
  opacity: 1;
}


.conversionBox .sbmProgressBar {
  /* width: 100%; */
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  background-color: #377bff;
  height: 5px;
}

.progressStart {
  animation: sbmProgressBar-countdown;
  /* Placeholder, this will be updated using javascript */
  animation-duration: 40s;
  /* We stop in the end */
  animation-iteration-count: 1;
  /* Stay on pause when the animation is finished finished */
  animation-fill-mode: forwards;
  /* We start paused, we start the animation using javascript */
  animation-play-state: paused;
  /* We want a linear animation, ease-out is standard */
  animation-timing-function: linear;
}




@media screen and (max-width:425px) {

  .sabetmikonimNotifBody .notification.leftNotif {
    left: 0 !important;
  }

  /* bottom bounce */
  @-webkit-keyframes bounce {
    0% {
      -webkit-transform: translateY(250);
    }
    50% {
      -webkit-transform: translateY(-10px);
    }
    100% {
      -webkit-transform: translateY(0);
    }
  }
  @keyframes bounce {
    0% {
      transform: translateY(250);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0);
    }
  }



    .sabetmikonimNotifBody .notification {
        right: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        border-radius: 0;
        padding: 5px;
    }

    .sabetmikonimNotifBody .bottomNotification {
      display: block;
      transform: translateY(250px);
      -webkit-transform: translateY(250px);
    }

    .sabetmikonimNotifBody .topNotification {
      display: block;
      right: 0;
      left: 0;
      top: 0 !important;
      transform: translateY(-250px);
      -webkit-transform: translateY(-250px);
      width: 100%;
      height: 87px;
    }

    /* top bounce */
    @-webkit-keyframes top-bounce {
      0% {
        -webkit-transform: translateY(-250);
      }
      50% {
        -webkit-transform: translateY(15);
      }
      100% {
        -webkit-transform: translateY(0);
      }
    }
    @keyframes top-bounce {
      0% {
        transform: translateY(-250);
      }
      50% {
        transform: translateY(15px);
      }
      100% {
        transform: translateY(0);
      }
    }

    .notification.topNotification.notif-bounce {
        -webkit-animation-duration: .4s;
      animation-duration: .4s;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
      -webkit-animation-timing-function: linear;
      animation-timing-function: linear;
      /* animation-iteration-count: infinite; */
      /* -webkit-animation-iteration-count: infinite; */
      -webkit-animation-name: top-bounce;
      animation-name: top-bounce;
    }





    /* top bounce out */
    @-webkit-keyframes top-bounce-out {
      0% {
        -webkit-transform: translateY(15px);
      }
      100% {
        -webkit-transform: translateY(-250px);
      }
    }
    @keyframes top-bounce-out {
      0% {
        transform: translateY(15px);
      }
      100% {
        -webkit-transform: translateY(-250px);
      }
    }



    .notification.topNotification.notif-bounce-out {
      -webkit-animation-duration: .9s;
      animation-duration: .9s;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
      -webkit-animation-timing-function: linear;
      animation-timing-function: linear;
      /* animation-iteration-count: infinite; */
      /* -webkit-animation-iteration-count: infinite; */
      -webkit-animation-name: top-bounce-out;
      animation-name: top-bounce-out;
    }

    /* .sabetmikonimNotifBody .notif-bottom.topNotification {
      top: -250px !important;
    } */
    .sabetmikonimNotifBody .mobileDisn {
      display: none;
    }
    .sabetmikonimNotifBody .notifIcon img {
      width: 78px;
      height: 78px;
      border-radius: 5px;
    }
    .sabetmikonimNotifBody .notifKind {
        border-radius: 0;
        bottom: 0;
        padding: 10px 0 5px 5px;
    }
    .sabetmikonimNotifBody .notifKind.hotStreak {
      padding: 5px;
    }
    .sabetmikonimNotifBody .notifIcon {
      margin-left: 8px;
    }
    .sabetmikonimNotifBody span.sabetMikonim {
        margin-left: 10px
    }

    .sabetmikonimNotifBody .notifContentBody {
      /* width: 310px; */
    }
    .notification .hotStreak span.count, .notification .hotStreak span.notifDesc {
      font-size: 16px;
    }






    /* conversion box */
    .conversionBox {
      left: 0 !important;
      right: 0 !important;
      margin: auto !important;
    }
}
