<script type="text/javascript">

  $(document).ready(function() {

    $('#packagePayForm').submit(function(event) {

      event.preventDefault();

      var packageName="false";
      $("input[name=packageOption]:checked").each(function(){
          packageName = $(this).val();
      });

      if (packageName !== "false") {

        var sbmToken = getCookie('sbm_token');

        var payData = { 'cookie' : sbmToken, 'packageName' : packageName };

        ajaxReq(payData,'http://api.sabetmikonim.com:8004/panel/order-package/','pay');

      } else {
        alert('لطفا یکی از پکیج‌ها را انتخاب نمایید.');
      }

    });



  });
</script>


<div class="row priceListBody">

<h3 style="margin-bottom:35px"> یکی از پکیج‌های زیر را انتخاب نمایید </h3>

<form method="post" id="packagePayForm">

<div class="col-xs-12 col-sm-4">

  <input type="radio" name="packageOption" id="packageOptionEco" value="startup-m">

  <label class="card priceList" for="packageOptionEco">

    <div class="title">

      <h4> استارتاپی </h4>

    </div> <!-- title -->

    <div class="price">

      <div class="mainPrice">

          <div class="mainPriceNumber old"> ۲۵ </div>
          <div class="mainPriceNumber"> ۱۲ </div>

       </div>

      <div class="mainpriceCurrency"> هزار تومان </div>
      <div class="pricePerText"> ماهیانه </div>


      <div class="clear"></div>

    </div> <!-- price -->


    <ul class="packageList">

      <li class="packageListItem"> <div class="listIcon"><svg id="Capa_1" data-name="Capa 1" xmlns="https://www.w3.org/2000/svg" viewBox="0 0 50 50"><defs><style>.greenStyle{fill:#25ae88;}.cls-2{fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px;}</style></defs><title>checkTick</title><circle class="greenStyle" cx="25" cy="25" r="25"/><polyline class="cls-2" points="38 15 22 33 12 25"/></svg></div> ۱۰,۰۰۰ بازدیدکننده واقعی / ماهیانه </li>
      <li class="packageListItem"> <div class="listIcon"><svg id="Capa_1" data-name="Capa 1" xmlns="https://www.w3.org/2000/svg" viewBox="0 0 50 50"><defs><style>.greenStyle{fill:#25ae88;}.cls-2{fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px;}</style></defs><title>checkTick</title><circle class="greenStyle" cx="25" cy="25" r="25"/><polyline class="cls-2" points="38 15 22 33 12 25"/></svg></div> تعداد دامنه نامحدود </li>
      <li class="packageListItem"> <div class="listIcon"><svg id="Capa_1" data-name="Capa 1" xmlns="https://www.w3.org/2000/svg" viewBox="0 0 50 50"><defs><style>.greenStyle{fill:#25ae88;}.cls-2{fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px;}</style></defs><title>checkTick</title><circle class="greenStyle" cx="25" cy="25" r="25"/><polyline class="cls-2" points="38 15 22 33 12 25"/></svg></div> نوتیفیکیشن نامحدود </li>
      <li class="packageListItem"> <div class="listIcon"><svg id="Capa_1" data-name="Capa 1" xmlns="https://www.w3.org/2000/svg" viewBox="0 0 50 50"><defs><style>.greenStyle{fill:#25ae88;}.cls-2{fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px;}</style></defs><title>checkTick</title><circle class="greenStyle" cx="25" cy="25" r="25"/><polyline class="cls-2" points="38 15 22 33 12 25"/></svg></div> تنظیم زمان نمایش </li>
      <li class="packageListItem"> <div class="listIcon"><svg id="Capa_1" data-name="Capa 1" xmlns="https://www.w3.org/2000/svg" viewBox="0 0 50 50"><defs><style>.greenStyle{fill:#25ae88;}.cls-2{fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px;}</style></defs><title>checkTick</title><circle class="greenStyle" cx="25" cy="25" r="25"/><polyline class="cls-2" points="38 15 22 33 12 25"/></svg></div> آمارهای داغ <span class="comingSoon"> به زودی </span> </li>
      <li class="packageListItem"> <div class="listIcon"><svg id="Capa_1" data-name="Capa 1" xmlns="https://www.w3.org/2000/svg" viewBox="0 0 50 50"><defs><style>.greenStyle{fill:#25ae88;}.cls-2{fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px;}</style></defs><title>checkTick</title><circle class="greenStyle" cx="25" cy="25" r="25"/><polyline class="cls-2" points="38 15 22 33 12 25"/></svg></div> پشتیبانی آنلاین</li>
      <li class="packageListItem deactive"> <div class="listIcon"><svg id="Capa_1" data-name="Capa 1" xmlns="https://www.w3.org/2000/svg" viewBox="0 0 52 52"><defs><style>.greenStyle{fill:#999;}</style></defs><title>clocse</title><path class="greenStyle" d="M26,0A26,26,0,1,0,52,26,26,26,0,0,0,26,0Zm0,50A24,24,0,1,1,50,26,24,24,0,0,1,26,50Z"/><path class="greenStyle" d="M35.71,16.29a1,1,0,0,0-1.41,0L26,24.59l-8.29-8.29a1,1,0,0,0-1.41,1.41L24.59,26l-8.29,8.29a1,1,0,1,0,1.41,1.41L26,27.41l8.29,8.29a1,1,0,0,0,1.41-1.41L27.41,26l8.29-8.29A1,1,0,0,0,35.71,16.29Z"/></svg></div> کارت‌های تبدیل نرخ </li>

  </ul>

</label>

</div>



<div class="col-xs-12 col-sm-4">

  <input type="radio" name="packageOption" id="packageOptionCo" value="economy-m">

  <label class="card priceList" for="packageOptionCo">

    <div class="title">

      <h4> اقتصادی </h4>

    </div> <!-- title -->


    <div class="price">

      <div class="mainPrice">

          <div class="mainPriceNumber old"> ۵۰ </div>
          <div class="mainPriceNumber"> ۲۵ </div>

       </div>

      <div class="mainpriceCurrency"> هزار تومان </div>
      <div class="pricePerText"> ماهیانه </div>


      <div class="clear"></div>

    </div> <!-- price -->


    <ul class="packageList">

      <li class="packageListItem"> <div class="listIcon"><svg id="Capa_1" data-name="Capa 1" xmlns="https://www.w3.org/2000/svg" viewBox="0 0 50 50"><defs><style>.greenStyle{fill:#25ae88;}.cls-2{fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px;}</style></defs><title>checkTick</title><circle class="greenStyle" cx="25" cy="25" r="25"/><polyline class="cls-2" points="38 15 22 33 12 25"/></svg></div> ۲۵,۰۰۰ بازدیدکننده واقعی / ماهیانه </li>
      <li class="packageListItem"> <div class="listIcon"><svg id="Capa_1" data-name="Capa 1" xmlns="https://www.w3.org/2000/svg" viewBox="0 0 50 50"><defs><style>.greenStyle{fill:#25ae88;}.cls-2{fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px;}</style></defs><title>checkTick</title><circle class="greenStyle" cx="25" cy="25" r="25"/><polyline class="cls-2" points="38 15 22 33 12 25"/></svg></div> تعداد دامنه نامحدود </li>
      <li class="packageListItem"> <div class="listIcon"><svg id="Capa_1" data-name="Capa 1" xmlns="https://www.w3.org/2000/svg" viewBox="0 0 50 50"><defs><style>.greenStyle{fill:#25ae88;}.cls-2{fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px;}</style></defs><title>checkTick</title><circle class="greenStyle" cx="25" cy="25" r="25"/><polyline class="cls-2" points="38 15 22 33 12 25"/></svg></div> نوتیفیکیشن نامحدود </li>
      <li class="packageListItem"> <div class="listIcon"><svg id="Capa_1" data-name="Capa 1" xmlns="https://www.w3.org/2000/svg" viewBox="0 0 50 50"><defs><style>.greenStyle{fill:#25ae88;}.cls-2{fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px;}</style></defs><title>checkTick</title><circle class="greenStyle" cx="25" cy="25" r="25"/><polyline class="cls-2" points="38 15 22 33 12 25"/></svg></div> تنظیم زمان نمایش </li>
      <li class="packageListItem"> <div class="listIcon"><svg id="Capa_1" data-name="Capa 1" xmlns="https://www.w3.org/2000/svg" viewBox="0 0 50 50"><defs><style>.greenStyle{fill:#25ae88;}.cls-2{fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px;}</style></defs><title>checkTick</title><circle class="greenStyle" cx="25" cy="25" r="25"/><polyline class="cls-2" points="38 15 22 33 12 25"/></svg></div> آمارهای داغ  <span class="comingSoon"> به زودی </span> </li>
      <li class="packageListItem"> <div class="listIcon"><svg id="Capa_1" data-name="Capa 1" xmlns="https://www.w3.org/2000/svg" viewBox="0 0 50 50"><defs><style>.greenStyle{fill:#25ae88;}.cls-2{fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px;}</style></defs><title>checkTick</title><circle class="greenStyle" cx="25" cy="25" r="25"/><polyline class="cls-2" points="38 15 22 33 12 25"/></svg></div> کارت‌های تبدیل نرخ <span class="comingSoon"> به زودی </span> </li>
      <li class="packageListItem"> <div class="listIcon"><svg id="Capa_1" data-name="Capa 1" xmlns="https://www.w3.org/2000/svg" viewBox="0 0 50 50"><defs><style>.greenStyle{fill:#25ae88;}.cls-2{fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px;}</style></defs><title>checkTick</title><circle class="greenStyle" cx="25" cy="25" r="25"/><polyline class="cls-2" points="38 15 22 33 12 25"/></svg></div> پشتیبانی آنلاین</li>

  </ul>

</label>

</div>



<div class="col-xs-12 col-sm-4">

  <input type="radio" name="packageOption" id="packageOptionBusi" value="business-m">

  <label class="card priceList" for="packageOptionBusi">

    <div class="title">

      <h4> تجاری </h4>

    </div> <!-- title -->


    <div class="price">

      <div class="mainPrice">

          <div class="mainPriceNumber old"> ۱۰۰ </div>
          <div class="mainPriceNumber"> ۵۰ </div>

       </div>

      <div class="mainpriceCurrency"> هزار تومان </div>
      <div class="pricePerText"> ماهیانه </div>


      <div class="clear"></div>

    </div> <!-- price -->


    <ul class="packageList">

      <li class="packageListItem"> <div class="listIcon"><svg id="Capa_1" data-name="Capa 1" xmlns="https://www.w3.org/2000/svg" viewBox="0 0 50 50"><defs><style>.greenStyle{fill:#25ae88;}.cls-2{fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px;}</style></defs><title>checkTick</title><circle class="greenStyle" cx="25" cy="25" r="25"/><polyline class="cls-2" points="38 15 22 33 12 25"/></svg></div> ۵۰,۰۰۰ بازدیدکننده واقعی / ماهیانه </li>
      <li class="packageListItem"> <div class="listIcon"><svg id="Capa_1" data-name="Capa 1" xmlns="https://www.w3.org/2000/svg" viewBox="0 0 50 50"><defs><style>.greenStyle{fill:#25ae88;}.cls-2{fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px;}</style></defs><title>checkTick</title><circle class="greenStyle" cx="25" cy="25" r="25"/><polyline class="cls-2" points="38 15 22 33 12 25"/></svg></div> تعداد دامنه نامحدود </li>
      <li class="packageListItem"> <div class="listIcon"><svg id="Capa_1" data-name="Capa 1" xmlns="https://www.w3.org/2000/svg" viewBox="0 0 50 50"><defs><style>.greenStyle{fill:#25ae88;}.cls-2{fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px;}</style></defs><title>checkTick</title><circle class="greenStyle" cx="25" cy="25" r="25"/><polyline class="cls-2" points="38 15 22 33 12 25"/></svg></div> نوتیفیکیشن نامحدود </li>
      <li class="packageListItem"> <div class="listIcon"><svg id="Capa_1" data-name="Capa 1" xmlns="https://www.w3.org/2000/svg" viewBox="0 0 50 50"><defs><style>.greenStyle{fill:#25ae88;}.cls-2{fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px;}</style></defs><title>checkTick</title><circle class="greenStyle" cx="25" cy="25" r="25"/><polyline class="cls-2" points="38 15 22 33 12 25"/></svg></div> تنظیم زمان نمایش </li>
      <li class="packageListItem"> <div class="listIcon"><svg id="Capa_1" data-name="Capa 1" xmlns="https://www.w3.org/2000/svg" viewBox="0 0 50 50"><defs><style>.greenStyle{fill:#25ae88;}.cls-2{fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px;}</style></defs><title>checkTick</title><circle class="greenStyle" cx="25" cy="25" r="25"/><polyline class="cls-2" points="38 15 22 33 12 25"/></svg></div> آمارهای داغ <span class="comingSoon"> به زودی </span> </li>
      <li class="packageListItem"> <div class="listIcon"><svg id="Capa_1" data-name="Capa 1" xmlns="https://www.w3.org/2000/svg" viewBox="0 0 50 50"><defs><style>.greenStyle{fill:#25ae88;}.cls-2{fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px;}</style></defs><title>checkTick</title><circle class="greenStyle" cx="25" cy="25" r="25"/><polyline class="cls-2" points="38 15 22 33 12 25"/></svg></div> کارت‌های تبدیل نرخ <span class="comingSoon"> به زودی </span> </li>
      <li class="packageListItem"> <div class="listIcon"><svg id="Capa_1" data-name="Capa 1" xmlns="https://www.w3.org/2000/svg" viewBox="0 0 50 50"><defs><style>.greenStyle{fill:#25ae88;}.cls-2{fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px;}</style></defs><title>checkTick</title><circle class="greenStyle" cx="25" cy="25" r="25"/><polyline class="cls-2" points="38 15 22 33 12 25"/></svg></div> پشتیبانی آنلاین </li>

  </ul>

</label>

</div>

<div class="submitBtn">
  <button type="submit" class="registerPackage btn btn-fill btn-lg"> پرداخت </button>
</div>


</form>

</div>
