<script type="text/javascript">

  String.prototype.toFaDigit = function() {
      return this.replace(/\d+/g, function(digit) {
          var ret = '';
          for (var i = 0, len = digit.length; i < len; i++) {
              ret += String.fromCharCode(digit.charCodeAt(i) + 1728);
          }

          return ret;
      });
  };



  function changeTab(tab,period) {
    var parent = '';
    if (period === "M") {
      parent = '#monthPackages';
    } else if (period === "Y") {
      parent = '#yearPackages';
    }

    $(parent+' .tabItem').removeClass('tabCurrent');
    $(parent+' .packageTabItem').fadeOut('fast');

    setTimeout(function(){
      $(parent+' #'+tab+'.packageTabItem').fadeIn('fast');
    }, 200);

    $(parent+' #tab'+tab).addClass('tabCurrent');

  }


  function changePeriod(period) {

    $('#periodTabs .tabItem').removeClass('tabCurrent');
    $('.packagePeriodContent').fadeOut('fast');

    if (period === "M") {

      setTimeout(function(){
        $('#monthPackages').fadeIn('fast');
      }, 200);

      $('#periodM').addClass('tabCurrent');

    } else if (period === "Y") {

      setTimeout(function(){
        $('#yearPackages').fadeIn('fast');
      }, 200);

      $('#periodY').addClass('tabCurrent');

    }

  }




  $(document).ready(function() {

    $('#packagePayForm').submit(function(event) {

      event.preventDefault();

      var packageID="false";
      $("input[name=packageOption]:checked").each(function(){
          packageID = $(this).val();
      });

      var couponCode = $("input[name=coupon]").val();

      if (packageID !== "false") {

        var sbmToken = getCookie('sbm_token');

        var payData = { 'cookie' : sbmToken, 'packageId' : packageID, 'coupon' : couponCode };

        ajaxReq(payData,'https://api.sabetmikonim.com/panel/order-package/','pay');

      } else {
        alert('لطفا یکی از پکیج‌ها را انتخاب نمایید.');
      }

    });



  });
</script>


<div class="row priceListBody">

<h3 style="margin-bottom:35px"> یکی از پکیج‌های زیر را انتخاب نمایید </h3>

<form method="post" id="packagePayForm">


  <div class="allPackagesDetail">

    <div class="periodTabsBody">

      <div class="periodTabs" id="periodTabs">

        <a href="javascript:;" class="tabItem tabCurrent" id="periodM" onclick="changePeriod('M')"> ماهیانه </a>
        <a href="javascript:;" class="tabItem" id="periodY" onclick="changePeriod('Y')"> سالیانه </a>

      </div>
      <!-- period tabs -->

    </div>
    <!-- period tabs body -->


    <div class="packagePeriodContent" id="monthPackages">

      <div class="packageTab">

        <!-- <a href="javascript:;" data-p-tab="basic"> ۰ - ۱ هزار </a>
        <a href="javascript:;" data-p-tab="basic" class="tabCurrent"> ۱ - ۱۰ هزار </a>
        <a href="javascript:;" data-p-tab="basic"> ۱۰ - ۵۰ هزار </a>
        <a href="javascript:;" data-p-tab="basic"> ۵۰ - ۱۰۰ هزار  </a>
        <a href="javascript:;" data-p-tab="basic"> ۱۰۰ - ۳۰۰ هزار </a>
        <a href="javascript:;" data-p-tab="basic"> ۳۰۰ هزار+ </a> -->

      </div>
      <!-- package tab -->


      <div class="packageListBody">

        <div class="clear"></div>

      </div>
      <!-- package list body -->

    </div>
    <!-- month packages -->





    <div class="packagePeriodContent" id="yearPackages">

      <div class="packageTab">

        <!-- <a href="javascript:;" data-p-tab="basic"> ۰ - ۱ هزار </a>
        <a href="javascript:;" data-p-tab="basic" class="tabCurrent"> ۱ - ۱۰ هزار </a>
        <a href="javascript:;" data-p-tab="basic"> ۱۰ - ۵۰ هزار </a>
        <a href="javascript:;" data-p-tab="basic"> ۵۰ - ۱۰۰ هزار  </a>
        <a href="javascript:;" data-p-tab="basic"> ۱۰۰ - ۳۰۰ هزار </a>
        <a href="javascript:;" data-p-tab="basic"> ۳۰۰ هزار+ </a> -->

      </div>
      <!-- package tab -->


      <div class="packageListBody">

        <div class="clear"></div>

      </div>
      <!-- package list body -->

    </div>
    <!-- year packages -->

  </div>
  <!-- allPackagesDetail -->





  <div class="card cardBox">

    <div class="header">

      <h4 class="title pullRight">  در صورتی که کد تخفیف دارید وارد نمایید  </h4>

      <div class="clear"></div>
    </div>

    <div class="content">

      <div class="couponBody">

        <div class="form-group" id="couponGroup">

          <!-- <label for="coupon"> در صورتی که کد تخفیف دارید وارد نمایید </label> -->
          <input type="text" class="form-control" name="coupon" id="coupon">

        </div>

      </div> <!-- couponBody -->

    </div> <!-- content -->

  </div>





  <div class="submitBtn">
    <button type="submit" class="registerPackage btn btn-fill btn-lg"> پرداخت </button>
  </div>

</form>

</div>
