<script type="text/javascript">

  $(document).ready(function() {


  });
</script>

<div class="domainForm">

  <div class="section marginTopAuto" id="helpBoxBody">



  </div> <!-- section -->




  <div class="section toolPage toolDescBody">

    <div class="card cardBox">

      <div class="header notifPrev">

        <div class="mainContent">

          <img src="" id="toolLogo" class="pullRight" style="margin-left: 10px;" alt="لوگو ابزار ثابت میکنیم">

          <h4 class="title pullRight" id="toolDescriptionTitle"></h4>

          <a href="javascript:;" onclick="createView({contentId: 'toolConnectionSettings'},true)" class="nextBtn btn btn-success btn-fill pullLeft" id="toolTitleBtn"></a>

        <div class="clear"></div>

        </div> <!-- main content -->



        <div class="notifPrev">

          <div class="sabetmikonimNotifBody">

          <div class="notification">

            <h6 class="notifPrevTitle"> پیش نمایش نوتیفیکیشن </h6>

              <div>
                  <div class="recentActivity">
                      <div class="notifIcon">
                        <img src="https://sabetmikonim.com/core/assets/sabetmikonim/img/face-1.jpg" id="user_pic" alt="person Pic" style="border: 1px dashed #333">
                      </div>
                      <div class="notifContentBody">

                        <div class="notifName">
                          <span id="notifName"> محمد امین مجیدی </span>
                          <span id="notifLocation"> از تهران </span>
                        </div>
                        <div class="clear"></div>
                         <div class="notifDescContents">
                           <span class="notifDesc" id="notifDesc"> در سمینار ما شرکت کرده است. </span>
                           <span class="notifDate"> <span id="notifDate">۳ دقیقه قبل</span></span>


                           <span class="sabetMikonim">
                             <span class="icon"> <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48"><defs><style>.sbmSVG1{fill:none;}.sbmSVG2{fill:#377bff;}</style></defs><title>sabetMikonim Verified</title><path class="sbmSVG1" d="M0,0H48V48H0Z" transform="translate(0 0)"/><path class="sbmSVG2" d="M24,4A20,20,0,1,0,44,24,20,20,0,0,0,24,4ZM20,34,10,24l2.83-2.83L20,28.34,35.17,13.17,38,16Z" transform="translate(0 0)"/></svg> </span>
                              تایید توسط <a href="https://sabetmikonim.com/panel/" name="sabetMikonimCopyRight" rel="کپی رایت ثابت میکنیم"> ثابت میکنیم </a>
                            </span>
                          <div class="clear"></div>
                         </div>

                      </div>
                      <a href="#" class="more" name="campaignLink" data-link="" data-cid="" target="_blank"> لینک کمپین </a>
                    </div>
              </div>
          </div>
          </div>

        </div> <!-- notifPrev -->



        <div class="clear"></div>
      </div>


      <div class="content">


        <div class="row">

          <div class="col-xs-12 col-md-8 mainGrid">

            <div class="row">

              <div class="col-xs-12 col-md-6">

                <div class="title">

                  <h5> توضیحات </h5>

                </div>

                <div class="toolContent">

                  <p id="toolDesc">  </p>

                </div>

              </div> <!-- grid -->


              <div class="col-xs-12 col-md-6">

                <div class="title">

                  <h5> دسته بندی </h5>

                </div>

                <ul class="uiList toolContent toolCategory" id="toolCategory"> </ul>

              </div> <!-- grid -->

            </div> <!-- row -->





            <div class="row">

              <div class="col-xs-12 col-md-6">

                <div class="title">

                  <h5> یک ایده </h5>

                </div>

                <div class="toolContent">

                  <p id="toolContent"> شما می‌توانید با استفاده از این ابزار، میزان ثبت نام‌های کلی، فرم‌های ثبت شده یا حتی هر یک از افراد پر کننده فرم را در سایت‌تان را برای ترغیب کاربران دیگر به نمایش بگذارید. </p>

                </div>

              </div> <!-- grid -->


              <div class="col-xs-12 col-md-6">

                <div class="title">

                  <h5> امکانات </h5>

                </div>

                <ul class="uiList toolContent toolFeatures" id="toolFeatures"> </ul>

              </div> <!-- grid -->

            </div> <!-- row -->






          </div> <!-- main grid-->


          <div class="col-xs-12 col-md-4">

            <div class="title">

              <h5> اطلاعات بیشتر درباره این ابزار </h5>

            </div>

            <ul class="uiList toolContent actionList" id="toolButtons">

              <!-- <li> <a href="javascript:;" onclick="createView({contentId: 'toolConnectionSettings'},true);" class="btn btn-fill btn-neutral"> اتصال <span class="toolBtnConnectionTitle"> </span> </a> </li> -->
              <li> <a href="#" id="toolDoc" class="btn btn-fill btn-neutral"> راهنمای اتصال <span class="toolBtnConnectionTitle"> گرویتی فرم </span> </a> </li>
              <li> <a href="#" id="toolDeveloperWebsite" class="btn btn-fill btn-neutral"> وبسایت <span class="toolBtnConnectionTitle"> گرویتی فرم </span> </a> </li>

            </ul>

          </div> <!-- main grid-->



        </div> <!-- row -->





      </div>




    </div> <!-- card -->

  </div> <!-- section -->






</div>
