<script type="text/javascript">

  $(document).ready(function() {



  });
</script>

<div class="domainForm">

  <div class="section marginTopAuto" id="helpBoxBody">

    

  </div> <!-- section -->




  <div class="section toolPage toolSettingsBody">

    <div class="card cardBox">

      <div class="header notifPrev">

        <img src="" id="toolLogo" class="pullRight" style="margin-left: 10px;" alt="لوگو ابزار ثابت میکنیم">

        <h4 class="title pullRight" id="toolTitle">  </h4>

        <a href="javascript:;" id="submitToolSettingBtn" class="nextBtn btn btn-success btn-fill pullLeft"> ثبت و ادامه </a>

        <div class="clear"></div>
      </div>


      <div class="content">
        <div class="row">
          <div class="col-md-12">


            <div class="row" id="campaignTypesBody">

              <div id="connectionBody">



              </div> <!-- connectionBody -->

            </div> <!-- row -->


          </div>
        </div>

      </div>




    </div> <!-- card -->

  </div> <!-- section -->






</div>
