<script src="http://amins-macbook-pro.local:5757/sabetmikonimv2/assets/js/campaignModal.js"></script>
<script type="text/javascript">

  function submitToolSettings() {

    var recentActivityData ={}, hotStreakData={}, realTimeData={}, conversionData={};

    var sbmToken = getCookie('sbm_token');
    var cid = getCookie('cId');

    var atLeastOneIsChecked = $('input[name=notifTypeOption]').is(':checked');

    if (!atLeastOneIsChecked) {

      $('label.card').addClass('error');
      $('label.card.deactiveFeature').removeClass('error');

      $(".loadingBar").removeClass('active');

    } else {

      $('label.card').removeClass('error');

      var sbmFeature = [];
      $("input[name=notifTypeOption]:checked").each(function(){
          sbmFeature.push($(this).val());
      });



      // check what features selected
      var toolSettings = {};
      for (var i = 0; i < sbmFeature.length; i++) {

        toolSettings[sbmFeature[i]] = featureData[sbmFeature[i]];

      }



      var submitToolSettingsData = { 'cookie' : sbmToken, 'dId' : getCookie('dId'), 'cId' : getCookie('cId'), 'operation' : 'submitToolSettings', 'toolSettings' : toolSettings };

      console.log(submitToolSettingsData);

      ajaxReq(submitToolSettingsData,'http://api.sabetmikonim.com:8004/panel/complete-information/','submitToolSettings');

    }

  }

  $(document).ready(function() {



  });
</script>

<div class="domainForm">

  <div class="section marginTopAuto" id="helpBoxBody">


  </div> <!-- section -->




  <div class="section toolPage newCampaignBody">

    <div class="card cardBox">

      <div class="header notifPrev">

        <img src="" id="toolLogo" class="pullRight" style="margin-left: 10px;" alt="لوگو ابزار ثابت میکنیم">

        <h4 class="title pullRight" id="toolTitle">  </h4>

        <a href="javascript:;" onclick="submitToolSettings()" class="nextBtn btn btn-success btn-fill pullLeft" id="toolTitleBtn"> ثبت و ادامه </a>

        <div class="clear"></div>
      </div>


      <div class="content">
        <div class="row">
          <div class="col-md-12">


            <div class="row toolCardsSettingsBody" id="notifTypesBody">



            </div> <!-- row -->


          </div>
        </div>

      </div>




    </div> <!-- card -->

  </div> <!-- section -->






</div>







<!-- feature modal -->

<div class="modalOption campaignModal" id="featureModal">

  <div class="modalHeader" id="modalHeaderId">

    <div class="titles section">

      <h4> نمایش آخرین فعالیت‌ها </h4>

      <p id="featureDesc"> نمایش آخرین افرادی که در یک بازه زمانی مشخص از بازدیدکننده به خریدار تبدیل شده‌اند. </p>

    </div> <!-- title -->


  </div> <!-- modal header -->

  <div class="notifSection section">

    <div class="sabetmikonimNotifBody">

    </div>

  </div> <!-- notif section -->


  <div class="sectionsBody" id="featureOptionsBody">



  </div> <!-- sections body -->



  <div class="section" style="padding-bottom: 0">

    <div class="title">

      <h5> قوانین نمایش </h5>

    </div> <!-- title -->

    <div class="optionsBody" id="featuresOptionsBody">

      <!-- <div class="inlineOption flex-inline">

        <div class="optionTextBody">

          <div class="flex-inline-col"> نمایش </div>
          <div class="flex-inline-col"> <input type="text" name="lastConversions" value=""> </div>
          <div class="flex-inline-col"> نوتیفیکشن آخر </div>

        </div>

        <span class="info input" id="lastConversionSelector" data-tippy> <i class="fas fa-question"></i> </span>

        <div id="lastConversionHelp" class="disn">
          <p> با وارد کردن تعداد، آخرین تعداد نوتیفیکیشن‌هایی که تا الان ثبت شده است، نمایش داده خواهد شد. </p>
        </div>

      </div>

      <div class="inlineOption flex-inline">

        <div class="flex-inline-col"> نمایش تبدیل‌های </div>
        <div class="flex-inline-col"> <input type="text" name="lastConversionsByDay" value=""> </div>
        <div class="flex-inline-col"> روز گذشته </div>

        <span class="info input" id="lastConversionDaySelector" data-tippy> <i class="fas fa-question"></i> </span>

        <div id="lastConversionDayHelp" class="disn">
          <p> با وارد کردن تعداد روز گذشته، تنها نوتیفیکیشن‌هایی که در این چند روز اخیر ثبت شده است، نمایش داده خواهد شد. </p>
        </div>

      </div>

      <div class="inlineOption flex-inline">

        <div class="flex-inline-col"> نمایش نوتیفیکیشن‌ها تنها در صورتی که حداقل </div>
        <div class="flex-inline-col"> <input type="text" name="minConversions" value=""> </div>
        <div class="flex-inline-col"> اعلان ثبت شده باشد. </div>


        <span class="info input" id="minDisplaySelector" data-tippy> <i class="fas fa-question"></i> </span>

        <div id="minDisplayHelp" class="disn">
          <p> تا زمانی که این تعداد نوتیفیکیشن ثبت نشده باشد، هیچ نوتیفکیشنی روی سایت شما نمایش داده نخواهد شد </p>
        </div>

      </div> -->




      <!-- <div class="inlineOption flex-inline">

        <div class="col-md-8 noPaddingRight">

          نمایش کاربران به صورت «ناشناس» در سایت

        </div>

        <div class="col-md-4 noPaddingLeft">

          <div class="checkBodySwitch" id="anonymousNotifOption">

            <span style="padding-left: 5px"> غیرفعال </span>

            <input type="checkbox" class="switchdemo" name="anonymousNotif">

            <span style="padding-right: 5px"> فعال </span>

          </div>

        </div>

      </div>



      <div class="inlineOption">

        <div class="col-md-8 noPaddingRight">

          لیست نوتیفیکیشن‌ها تکرار شود

        </div>

        <div class="col-md-4 noPaddingLeft">

          <div class="checkBodySwitch" id="raCampaignLoopOption">

            <span style="padding-left: 5px"> غیرفعال </span>

            <input type="checkbox" class="switchdemo" name="raCampaignLoop" checked>

            <span style="padding-right: 5px"> فعال </span>

          </div>

        </div>

      </div> -->



      <div class="clear"></div>

    </div> <!-- options body -->

    <footer class="modalFooter">

      <a href="javascript:;" onclick="" id="saveFeatureSettingsBtn" class="btn btn-fill"> ذخیره تنظیمات </a>

    </footer>

  </div> <!-- section -->



</div> <!-- modal -->

<!-- feature modal -->






<!-- hot streak modal -->

<div class="modalOption campaignModal" id="hsModal">

  <div class="modalHeader">

    <div class="titles section">

      <h4> آمار داغ </h4>

       <p> نمایش افرادی که در یک مدت زمان خاص از خدمات شما استفاده کرده‌اند و یا در سایت ثبت نام نموده‌اند و ... . </p>

    </div> <!-- title -->


  </div> <!-- modal header -->



  <div class="notifSection section">

    <div class="sabetmikonimNotifBody">

    </div>

  </div> <!-- notif section -->





  <div class="section">

    <div class="title">

      <h5> عنوان نمایش آمار داغ </h5>

    </div>

    <div class="container">

      <input type="text" name="hsMessage" onkeyup="realNotif(this.value,2,1)" value="در دوره ما شرکت کرده‌اند">


    </div>

  </div>




  <div class="section">

    <div class="title">

      <h5> نام تبدیل‌ها </h5>

    </div> <!-- title -->

    <div class="container">

      <input type="text" name="hsConversionName" onkeyup="realNotif(this.value,2,2)" value="وبمستر">


    </div> <!-- container -->

  </div> <!-- section -->



  <div class="section" style="padding-bottom: 0">

    <div class="title">

      <h5> قوانین نمایش </h5>

    </div> <!-- title -->

    <div class="optionsBody">

      <div class="inlineOption flex-inline">

        <div class="flex-inline-col"> نمایش </div>
        <div class="flex-inline-col">

          <select name="hsPeopleKind" id="hsPeopleSelectKind">

            <option value="visitor"> بازدیدکننده‌ها</option>
            <option value="conversion"> تبدیل‌ها </option>

          </select>

         </div>
        <div class="flex-inline-col"> در </div>

        <div class="flex-inline-col">
          <input type="radio" name="hsTimeRadio" id="twentyFourH" value="24h" checked>
          <label for="twentyFourH" class="radioInput">

            ۲۴ ساعت

          </label>


          <input type="radio" name="hsTimeRadio" id="sevenD" value="7d">
          <label for="sevenD" class="radioInput">

            ۷ روز

          </label>

          <input type="radio" name="hsTimeRadio" id="thirtyD" value="30d">
          <label for="thirtyD" class="radioInput">

            ۳۰ روز

          </label>

          گذشته

        </div>

      </div> <!-- inline option -->


      <div class="clear"></div>

    </div> <!-- options body -->

    <footer class="modalFooter">

      <a href="#" name="closeModal" class="btn btn-fill"> ذخیره تنظیمات </a>

    </footer>

  </div> <!-- section -->




</div> <!-- modal -->

<!-- hot streak modal -->







<script src="http://amins-macbook-pro.local:5757/sabetmikonimv2/assets/js/jquery.simpleswitch.min.js"></script>
<script>

$(".switchdemo").simpleSwitch();

</script>
