<script type="text/javascript">

  $(document).ready(function() {

    // process the form
  	$('#submitToolSettingForm').submit(function(event) {

      $('.form-group').removeClass('has-error');
      $('.help-block').remove();

      var apiData = {};
      var jb = 0;
      var submitStatus = true;
      for (var apiInput = 1; apiInput < connectionApiFormData.length; apiInput++) {

        if ($('input[name='+connectionApiFormData[jb]['name']+']').val()!=="") {

          apiData[connectionApiFormData[jb]['name']] = $('input[name='+connectionApiFormData[jb]['name']+']').val();

        } else {

          $('#'+connectionApiFormData[jb]['name']+'Group').append('<div class="help-block"> '+connectionApiFormData[jb]['placeholder']+' را وارد نمایید. </div>');
          $('#'+connectionApiFormData[jb]['name']+'Group').addClass('has-error');

          submitStatus = false;
        }

        jb = jb + 1;
      }

      if ($('input[name=domain]').val()!=="") {

          apiData['domain'] = $('input[name=domain]').val();

      } else {

        $('#domainGroup').append('<div class="help-block"> آدرس وبسایت‌تان را وارد نمایید. </div>');
        $('#domainGroup').addClass('has-error')
        submitStatus = false;

      }


      // check submit status
      if (submitStatus) {

        var finalApiData = {'cookie' : getCookie('sbm_token'), 'cId': getCookie('cId'), 'dId' : getCookie('dId'), 'apiData': apiData, 'operation' : 'submitApi'};

        ajaxReq(finalApiData,'https://api.sabetmikonim.com/panel/api-connection/','submitApiData');

      }

  		event.preventDefault();
  	});

  });
</script>

<div class="domainForm">

  <div class="section marginTopAuto" id="helpBoxBody">



  </div> <!-- section -->


<form id="submitToolSettingForm">

  <div class="section toolPage toolSettingsBody">

    <div class="card cardBox">

      <div class="header notifPrev">

        <img src="" id="toolLogo" class="pullRight" style="margin-left: 10px;" alt="لوگو ابزار ثابت میکنیم">

        <h4 class="title pullRight" id="toolTitle">  </h4>

        <button type="submit" id="submitToolSettingBtn" class="nextBtn btn btn-success btn-fill pullLeft"> ثبت و ادامه </button>

        <div class="clear"></div>
      </div>


      <div class="content">
        <div class="row">
          <div class="col-md-12">


            <div class="row" id="campaignTypesBody">

              <div id="connectionBody" style="width: 100%">

                <div class="form-group" id="domainGroup">
                  <label> آدرس وبسایت <span class="info tippyInput input" data-tippy-content="آدرس دامنه یا ساب دامنه مرتبط با کمپین‌تان را وارد نمایید." tabindex="0"> <i class="fas fa-question"></i>  </span>  </label>
                  <input type="text" class="form-control ltrInput" name="domain" placeholder="http://example.com">
                </div>

              </div> <!-- connectionBody -->

            </div> <!-- row -->


          </div>
        </div>



      </div>
      <!-- content -->



      <div class="cardFooter">

        <div class="row">

          <div class="col-md-12">

            احتیاج به راهنمایی دارید؟ <a href="#" id="helpDocLink" target="_blank"> در اینجا بخوانید </a>

          </div>
          <!-- col-md-12 -->

        </div>
        <!-- row -->

      </div>
      <!-- card footer -->




    </div> <!-- card -->

  </div> <!-- section -->

</form>





</div>

<script type="text/javascript">
  tippy('.tippyInput', {
  arrow: true,
  arrowType: 'round',
  interactive: true,
  theme: 'sbmToolTip'
});
</script>
